.DS_Store
*.txt
*.Rproj
*.el
.RData
.Rhistory
.Rproj.user
LaTeX_tables/
auto/
figs/
example_figs/
scripts_compare/figs/
scripts_compare/*.html
scripts_importmaps/figs/
scripts_importmaps/*.html
scripts_ground_overlays/figs/
scripts_ground_overlays/*html
scripts_make_figures_tables/
local-data
